<h1>Here are the categories</h1>

<a href="/posts/home" method="get">Home</h2>
<a href="/posts/garden" method="get">Garden</h2>
<a href="/posts/car" method="get">Car</h2>
<a href="/posts/body" method="get">Body</h2>


<h5><a href="/">Home</a><h5>
