<div class="container">
  <h1>Welcome to Craigslist, Jr.!</h1>

  <h2>What would you like to do?</h2>

  <a href="/categories" method= "get">View Categories</a>

  <a href="/new_post" method= "post">Make a New Post</a>

  <a href="/base_edit" method= "get">Edit a Post</a>

  <a href="/categories" method= "get">View a Particular Post</a>
