<h1>My New Post</h1>

<form action="/add_post_to_db" method="post">
  Title: <input type="text" name="post[title]"></input>
  <br>
  <br>
  Description: <textarea rows= "10" cols= "100" name="post[description]"></textarea>
  <br>
  <br>
  Price: <input type="text" name="post[price]"></input>
  <br>
  <br>
  <select name="post[select]">
    <option>Home</option>
    <option>Garden</option>
    <option>Car</option>
    <option>Body</option>
  </select>
  <br>
  <br>
Email: <input type="text" name="post[email]"></input>
<br>
<br>
<input type="submit">
</form>


<h5><a href="/">Home</a><h5>
