<h1>Please enter your secret key </h1>

<form action="/edit_my_record" method="get">
 Secret Key: <input type="text" name="post[secret_key]"></input>
 <input type="submit">
 </form>

<h5><a href="/">Home</a><h5>
